Package: elasticsearch-lang-javascript
Version: [[version]]
Architecture: all
Maintainer: Stephen Lewis <stephen.lewis@palatinategroup.com>
Depends: elasticsearch (= 0.20.0.Beta1+SNAPSHOT)
Section: web
Priority: optional
Homepage: http://www.elasticsearch.org/
Description: Open Source, Distributed, RESTful Search Engine
 ElasticSearch is a distributed RESTful search engine built for the cloud. 